<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
welcome
<h1>{{header}}</h1>
<p>{{benny}}</p>
<h1>{{header}}</h1>
<p>{{ji}}</p>
<p>{{header}}</p>
<div>
<p>
{{one}}
</p>

</div>

</body>
</html>
